<div class="row">
  <div class="col-md-4">
  <!-- TODo -->
  </div>
  <div class="col-md-4">
    <div class="well">
      <h2>Sign up <%=fa_icon 'pencil'%></h2>

      <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
          <%= f.email_field :email, autofocus: true %>

          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
          <%= f.password_field :password, autocomplete: "off" %>
          <%= f.password_field :password_confirmation, autocomplete: "off" %>

          <%= f.check_box_tag "user[role]", "company" %>
          <%= f.label_tag :role, "I am a Company"%> <br>

          <%= f.submit "Sign up", class: "btn btn-primary btn-outline btn-sm" %>
      <% end %>
    </div>
    <%= render "devise/shared/links" %>
  </div>
</div>
