<div class="col-sm-3">
  <div class="panel panel-default filter">
    <div class="panel-heading">Dashboard</div>
    <div class="panel-body">
    <%= link_to "Edit My Account", edit_user_registration_path(current_user) %>
    </div>
  </div>

  <%if current_user %>
  <div class="panel panel-default filter">
    <div class="panel-heading"><%= fa_icon 'briefcase' %> My Activity</div>
    <div class="panel-body">
      <% if current_user.user? %>
        <%= link_to "My Applications", user_job_applications_path(current_user) if current_user%>
      <% elsif current_user.company? %>
        <%= link_to "My Job Offers", dashboard_path %>
      <% end %>
    </div>
  </div>
  <% end %>
</div> <!-- End col-sm-3 -->

<div class="col-sm-6">
  <% if @jobs.empty? %>
    <h1>Sorry, no jobs found.</h1>
  <% else %>
    <% @jobs.each do |job| %>
    <div class="well">
      <h4><%= link_to job.title, job_path(job)%></h4>
      <small><%= job.company_name %> | <%= job.posting_date %> | <%= fa_icon "map-marker" %> <%= job.location %> </small>
      <h4>Applicants</h4>
      <ol>
        <% job.applicants.each do |applicant| %>
          <li><%= mail_to(applicant.email) %></li>
        <% end %>
      </ol>
    </div>
  <% end %>
  <% end %>
  <%= paginate @jobs %>
</div> <!-- end col-sm-6 -->
