<div class="col-sm-3">
  <div class="panel panel-default filter">
    <div class="panel-heading">Filter Jobs</div>
    <div class="panel-body filter-form-wrap">
      <%= bootstrap_form_tag url: '/jobs', method: 'get' do %>
        <%= select_tag "category", options_from_collection_for_select(@categories, "id", "name"), include_blank: "Select Category", class: "btn btn-default dropdown-toggle category"%>
        <%= select_tag "location", options_for_select(@locations), include_blank: "Select Location", class: "btn btn-default dropdown-toggle location"%>
        <%= submit_tag "Filter", class: "btn btn-primary btn-outline btn-sm filter" %>
      <% end %>
    </div>
  </div>

  <%if current_user %>
  <div class="panel panel-default filter">
    <div class="panel-heading"><%= fa_icon 'briefcase' %> My Account</div>
    <div class="panel-body">
      <% if current_user.user? %>
        <%= link_to "My Applications", user_job_applications_path(current_user) if current_user%>
      <% elsif current_user.company? %>
        <%= link_to "My Job Offers", dashboard_path %>
      <% elsif current_user.admin? %>
      <ul>
        <li><%= link_to "Job Applications", job_applications_path %></li>
        <li><%= link_to "Categories", categories_path %></li>
      </ul>
      <% end %>
    </div>
  </div>
  <% end %>
</div> <!-- End col-sm-3 -->

<div class="col-sm-8 results">
  <% if @jobs.empty? %>
    <h1>Sorry, no jobs found.</h1>
  <% else %>
    <% @jobs.each do |job| %>
    <div class="panel panel-default">
      <div class="panel-body">
        <h3><%= link_to job.title, job_path(job)%></h3>
        <small><%= job.company_name %> | <%= job.posting_date %> | <%= fa_icon "map-marker" %> <%= job.location %> </small>
        <p><%= truncate(job.description, length: 150) %></p>
      </div>
    </div>
    <% end %>
  <% end %>
  <%= paginate @jobs %>
</div> <!-- end col-sm-6 -->

<!-- AJAX Filter Script -->
<script type="text/javascript">
$(function () {
  // Listener on click function
  $("input.filter").on('click', function(event) {
    var html = ''
    var category = $(".category").val();
    var loc = $(".location").val().split(" ").join("+")
    var url = "/jobs?utf8=✓&category=" + category + "&location=" + loc + "&commit=Filter"
    // AJAX
    $.getJSON(url, function(jobs) {
      // Check if there are any results
      if (jobs.length == 0) {
        // Display nothing found message
        html += '<h1>Sorry, no jobs found.</h1>'
      } else {
        $.each(jobs, function(i, job) {
          // create a js Job Object using constructor
          var newJob = new Job (job.id, job.title, job.description, job.company_name, job.url, job.location, job.created_at, job["category"]["name"])
          // Create HTML
          html += '<div class="panel panel-default">'
          html += ' <div class="panel-body">'
          html += '<h3><a href="/jobs/' + newJob.id + '">' + newJob.title + '</a></h3>'
          html += '<small>' + newJob.companyName + ' | ' + newJob.createdAt() + ' | <i class="fa fa-map-marker"></i> ' + newJob.location + ' </small>'
          html += '<p>' + newJob.description.substring(0,150) + '...' + '</p>'
          html += ' </div>'
          html +='</div>'
        });
      }
      // Clear results div
      $('.results').empty();
      // Add HTML to the DOM
      $('.results').append(html);
    })
    event.preventDefault();
  });

  // Job Object Constructor Function
  function Job (id, title, description, companyName, url, location, created_at, category) {
    this.id = id;
    this.title = title;
    this.description = description;
    this.companyName = companyName;
    this.url = url;
    this.location = location;
    this.created_at = created_at;
    this.category = category;

    // Format created_at attribute function
    this.createdAt = function() {
      var monthNames = new Array("January", "February", "March",
      "April", "May", "June", "July", "August", "September",
      "October", "November", "December");
      var date = new Date(this.created_at);
      var day = date.getDate();
      var monthFormat = date.getMonth();
      var year = date.getFullYear();
      return monthNames[monthFormat].slice(0,3) + " " + day + "," + year
    };
  }
});
</script>
