<div class="col-sm-9">
  <% if @job_applications.empty? %>
    <h1>You dont have any applications.</h1>
  <% else %>
  <div class="panel panel-default">
    <div class="panel-heading"><h3>Applications</h3></div>
    <div class="panel-body">
      <% @job_applications.each do |application| %>
        <% if current_user.admin? %>
          <li><%= link_to application.job.title, job_path(application.job)%> <small>Applied on <%= application.posting_date%></small></li>
        <% else %>
          <li><%= link_to application.job.title, user_job_application_path(current_user, application)%> <small>Applied on <%= application.posting_date%></small></li>
        <% end %>
        <%= fa_icon 'industry' %> <%= application.job.company_name %> | <%= application.job.category.name %>
        <% if current_user.admin? %>
          <li>Applicant: <%= application.applicant.email %></li>
        <% end %>
        <br></br>
      <% end %>
    </div>
  </div>
  <% end %>
  <%= paginate @job_applications %>
</div> <!-- end col-sm-6 -->

