<div class="row">
  <div class="col-md-4">

  </div>
  <div class="col-md-4">
    <div class="well">
      <h2 class="title">Log in <%=fa_icon 'lock'%></h2>

      <%=bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= f.email_field :email, autofocus: true %>
        <%= f.password_field :password, autocomplete: "off" %>

        <% if devise_mapping.rememberable? -%>
          <%= f.check_box :remember_me %>
        <% end %> <hr>

        <%= f.submit "Log in", class: "btn btn-primary btn-outline btn-sm" %>
      <% end %>
    </div>
    <%= render "devise/shared/links" %>
  </div>
</div>
