body {
  background: #fff;
  color: #7f7f7f;
  font: 16px 400 "Raleway", Arial, sans-serif;
  height: 100%;
  line-height: 1.7;
  position: relative;
}

a {
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  color: #eb7078;
  transition: 0.5s;
}

a:hover,
a:active,
a:focus {
  color: #eb7078;
  outline: none;
}

p {
  margin-bottom: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6,
figure {
  color: #000;
  font: 400 "Raleway", Arial, sans-serif;
  margin: 0 0 30px 0;
}

h1.centered {
  text-align: center;
}

.filter-form-wrap form {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
}

.btn-primary.filter {
  padding: 2px;
}

::-webkit-selection {
  color: #fff;
  background: #eb7078;
}

::-moz-selection {
  color: #fff;
  background: #eb7078;
}

::selection {
  background: #eb7078;
  color: #fff;
}

.btn {
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-transition: 0.5s;
  -webkit-border-radius: 5px;
  -webkit-transition: 0.5s;
  border-radius: 5px;
  font:  16px 400 "Raleway", Arial, sans-serif;
  margin-bottom: 4px;
  margin-right: 4px;
  transition: 0.5s;
}

.btn-primary {
  background: #eb7078;
  border: 2px solid #eb7078;
  color: #fff;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background: #eb7078;
  border-color: #eb7078;
}

.btn-primary.btn-outline {
  border: 2px solid #eb7078;
}

.btn-primary.btn-outline:hover,
.btn-primary.btn-outline:focus,
.btn-primary.btn-outline:active {
  background: #eb7078;
  color: #fff;
}

.btn-info {
  background: #c25d62;
  border: 2px solid #ce5b81;
  color: #fff;
}

.btn.with-arrow {
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  position: relative;
  transition: 0.3s;
}

.btn.with-arrow i {
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  margin-top: -8px;
  opacity: 0;
  position: absolute;
  right: 0px;
  top: 50%;
  transition: 0.2s;
  visibility: hidden;
}

.btn.with-arrow:hover {
  padding-right: 50px;
}

.btn.with-arrow:hover i {
  color: #fff;
  opacity: 1;
  right: 18px;
  visibility: visible;
}

.form-control {
  border: 2px solid rgba(0, 0, 0, 0.1);
  box-shadow: none;
  font-size: 18px;
  font-weight: 300;
  height: 54px;
}

.form-control:active, .form-control:focus {
  border-color: #eb7078;
  box-shadow: none;
  outline: none;
}

.container.main {
  margin-top: 3em;
  min-height: 500px;
  padding-bottom: 1em;
}

textarea.form-control {
    height: 150px;
}

.container {
  padding-bottom: 1em;
}

.checkbox{
	display: inline;
	margin-left: 1.3em;
}

#flash_notice,
#flash_alert {
  padding-bottom: 1em;
  margin-left: 1em;
}

.fh5co-social {
  margin: 0;
  padding: 0;
}

.fh5co-social li {
  *display: inline;
  display: -moz-inline-stack;
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
  zoom: 1;
}

.fh5co-social li a {
  *display: inline;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  color: #fff;
  display: -moz-inline-stack;
  display: inline-block;
  font-size: 22px;
  margin: 0;
  padding: 0;
  padding: 2px;
  zoom: 1;
}

.fh5co-social li a:hover {
  color: #eb7078;
}

.fh5co-social li a:hover,
.fh5co-social li a:active,
.fh5co-social li a:focus {
  text-decoration: none;
  outline: none;
}

.row-bottom-padded-lg {
  padding-bottom: 7em;
}

.row-bottom-padded-md {
  padding-bottom: 4em;
}

.row-bottom-padded-sm {
  padding-bottom: 1em;
}

#fh5co-header {
  width: 100%;
  margin: 0;
}

#fh5co-header .header-inner {
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  float: left;
  height: 80px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

#fh5co-header h1 {
  float: left;
  font-size: 30px;
  font-weight: 700;
  line-height: 0;
  padding: 0;
}

#fh5co-header h1 a {
  color: black;
  position: relative;
}

#fh5co-header h1 a > span {
  color: #eb7078;
}

#fh5co-header h1 a:hover,
#fh5co-header h1 a:active,
#fh5co-header h1 a:focus {
  text-decoration: none;
  outline: none;
}

#fh5co-header h1,
#fh5co-header nav {
  margin: 38px 0 0 0;
}

#fh5co-header nav {
  float: right;
  padding: 0;
}

#fh5co-header nav ul {
  padding: 0;
  margin: 0 -0px 0 0;
  line-height: 0;
}

#fh5co-header nav ul li {
  *display: inline;
  display: -moz-inline-stack;
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
  zoom: 1;
}

#fh5co-header nav ul li a {
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  color: rgba(0, 0, 0, 0.7);
  font-size: 18px;
  padding: 10px;
  position: relative;
  transition: 0.2s;
}

#fh5co-header nav ul li a i {
  font-size: 20px;
  line-height: 0;
  position: relative;
  top: 3px;
}

#fh5co-header nav ul li a:after {
  -moz-transform: scaleX(0);
  -moz-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transform: scaleX(0);
  -ms-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transform: scaleX(0);
  -o-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transform: scaleX(0);
  -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background-color: #eb7078;
  bottom: 7px;
  content: "";
  height: 2px;
  left: 10px;
  position: absolute;
  right: 10px;
  transform: scaleX(0);
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  visibility: hidden;
}

#fh5co-header nav ul li a:hover {
  color: #eb7078;
  text-decoration: none;
}

#fh5co-header nav ul li a:hover:after {
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  visibility: visible;
}

#fh5co-header nav ul li a:active,
#fh5co-header nav ul li a:focus {
  outline: none;
  text-decoration: none;
}

#fh5co-header nav ul li.cta {
  margin-left: 20px;
}

#fh5co-header nav ul li.cta a {
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 2px solid #eb7078;
  color: #eb7078;
}

#fh5co-header nav ul li.cta a:hover {
  color: #fff;
  background: #eb7078;
}

#fh5co-header nav ul li.cta a:hover:after {
  display: none;
}

#fh5co-header nav ul li.active a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
}

#fh5co-header nav ul li.active a:after {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}

#fh5co-hero {
  min-height: 700px;
  background: #fff url(../images/loader.gif) no-repeat center center;
}

#fh5co-hero .btn {
  font-size: 24px;
}

#fh5co-hero .btn.btn-primary {
  padding: 14px 30px;
}

#fh5co-hero .flexslider {
  border: none;
  z-index: 1;
  margin-bottom: 0;
}

#fh5co-hero .flexslider .slides {
  position: relative;
  overflow: hidden;
}

#fh5co-hero .flexslider .slides li {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 700px;
}

#fh5co-hero .flexslider .flex-control-nav {
  bottom: 40px;
  z-index: 1000;
}

#fh5co-hero .flexslider .flex-control-nav li a {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: none;
  cursor: pointer;
  height: 12px;
  width: 12px;
}

#fh5co-hero .flexslider .flex-control-nav li a.flex-active {
  background: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

#fh5co-hero .flexslider .flex-direction-nav {
  display: none;
}

#fh5co-hero .flexslider .slider-text {
  display: table;
  min-height: 700px;
  opacity: 0;
}

#fh5co-hero .flexslider .slider-text > .slider-text-inner {
  display: table-cell;
  min-height: 700px;
  vertical-align: middle;
}

#fh5co-hero .flexslider .slider-text > .slider-text-inner h2 {
  color: #fff;
  font-size: 70px;
  font-weight: 400;
}

#fh5co-hero .flexslider .slider-text > .slider-text-inner .fh5co-lead {
  color: #fff;
  font-size: 20px;
}

#fh5co-hero .flexslider .slider-text > .slider-text-inner .fh5co-lead .icon-heart {
  color: #d9534f;
}

#fh5co-services-section,
#fh5co-work-section,
#fh5co-testimony-section,
#fh5co-blog-section {
  padding: 7em 0;
}

#fh5co-services-section .services {
  position: relative;
}

#fh5co-services-section .services i {
  color: #eb7078;
  font-size: 40px;
  left: 0;
  position: absolute;
  top: 0;
}

#fh5co-services-section .services .desc {
  padding-left: 70px;
}

#fh5co-services-section .services .desc h3 {
  font-size: 20px;
  font-weight: 700;
}

.fh5co-services {
  margin-top: 4em;
}

#fh5co-work-section .item-grid {
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.11);
  -o-transition: 0.3s;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.11);
  -webkit-transition: 0.3s;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.11);
  float: left;
  margin-bottom: 50px;
  position: relative;
  top: 2px;
  transition: 0.3s;
  width: 100%;
}

#fh5co-work-section .item-grid .image {
  background-position: center center;
  background-size: cover;
  height: 300px;
  margin-bottom: 20px;
  overflow: hidden;
}

#fh5co-work-section .item-grid .v-align {
  padding: 30px;
}

#fh5co-work-section .item-grid .v-align h3 {
  font: 20px 700;
}

#fh5co-work-section .item-grid .v-align h5 {
  color: rgba(0, 0, 0, 0.3);
}

#fh5co-work-section .item-grid:hover,
#fh5co-work-section .item-grid:focus {
  -moz-box-shadow: 0 14px 25px -2px rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: 0 14px 25px -2px rgba(0, 0, 0, 0.14);
  box-shadow: 0 14px 25px -2px rgba(0, 0, 0, 0.14);
  text-decoration: none;
  top: -2px;
}

.wrap-testimony {
  position: relative;
  width: 100%;
}

.wrap-testimony .testimony-slide {
  text-align: center;
  overflow: hidden;
}

.wrap-testimony .testimony-slide span {
  font-size: 18px;
}

.wrap-testimony .testimony-slide figure {
  *display: inline;
  display: -moz-inline-stack;
  display: inline-block;
  margin-bottom: 20px;
  zoom: 1;
}

.wrap-testimony .testimony-slide figure img {
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  height: 120px;
  width: 120px;
}

.wrap-testimony .testimony-slide blockquote {
  border: none;
  margin: 0 auto;
  width: 72%;
  position: relative;
  padding-bottom: 30px;
}

.wrap-testimony .testimony-slide blockquote p {
  font-size: 20px;
  line-height: 1.6em;
  color: #1a1a1a;
}

.wrap-testimony .testimony-slide.active {
  display: block;
}

.owl-carousel .owl-controls .owl-dot {
  margin-top: 30px;
}

.owl-carousel .owl-controls .owl-dot span {
  background: #e6e6e6;
}

.owl-carousel .owl-controls .owl-dot span:hover,
.owl-carousel .owl-controls .owl-dot span:focus {
  background: #cccccc;
}

.owl-carousel .owl-controls .owl-dot:hover span,
.owl-carousel .owl-controls .owl-dot:focus span {
  background: #cccccc;
}

.owl-carousel .owl-controls .owl-dot.active span {
  background: transparent;
  border: 2px solid #eb7078;
}

#fh5co-blog-section .item-grid {
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.11);
  -o-transition: 0.3s;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.11);
  -webkit-transition: 0.3s;
  background: #fff;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.11);
  float: left;
  margin-bottom: 50px;
  position: relative;
  top: 2px;
  transition: 0.3s;
  width: 100%;
}

#fh5co-blog-section .item-grid .image {
  background-position: center center;
  background-size: cover;
  height: 400px;
  margin-bottom: 20px;
  overflow: hidden;
}

#fh5co-blog-section .item-grid .v-align {
  padding: 30px;
}

#fh5co-blog-section .item-grid .v-align h3 {
  font-weight: 700;
  font-size: 20px;
}

#fh5co-blog-section .item-grid .v-align h5 {
  color: rgba(0, 0, 0, 0.3);
}

#fh5co-blog-section .item-grid .v-align p {
  color: gray;
}

#fh5co-blog-section .item-grid:hover,
#fh5co-blog-section .item-grid:focus {
  -moz-box-shadow: 0 14px 25px -2px rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: 0 14px 25px -2px rgba(0, 0, 0, 0.14);
  box-shadow: 0 14px 25px -2px rgba(0, 0, 0, 0.14);
  text-decoration: none;
  top: -2px;
}

.item-block {
  margin-bottom: 7em;
  float: left;
}

.item-block .icon {
  display: block;
  margin-bottom: 30px;
}

.item-block .icon img {
  max-width: inherit;
  height: 90px;
  margin: 0 auto;
}

.item-block h3 {
  font-size: 20px;
  font-weight: 700;
}

.item-block p:last-child {
  margin-bottom: 0;
}

.fh5co-heading {
  margin-bottom: 30px;
}

.fh5co-heading h2 {
  margin-bottom: 20px;
  font-weight: 700;
}

.fh5co-about,
.fh5co-team,
.fh5co-contact {
  padding: 7em 0;
}

.contact-info {
  margin-bottom: 4em;
  padding: 0;
}

.contact-info li {
  list-style: none;
  margin: 0 0 20px 0;
  padding-left: 40px;
  position: relative;
}

.contact-info li i {
  color: #eb7078;
  font-size: 22px;
  left: 0;
  position: absolute;
  top: .3em;
}

.contact-info li a {
  color: #eb7078;
}

#map {
  height: 500px;
  width: 100%;
}

.fh5co-staff img {
  margin-bottom: 1.5em;
}

.fh5co-staff h3 {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 20px 0;
}

.fh5co-staff h4 {
  color: rgba(0, 0, 0, 0.4);
  font-weight: 400;
  margin: 0 0 20px 0;
}

.fh5co-staff .fh5co-social {
  text-align: center;
}

.fh5co-staff .fh5co-social a {
  color: #000;
}

.fh5co-cta {
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 7em 0;
  position: relative;
}

.fh5co-cta .overlay {
  background: rgba(0, 0, 0, 0.7);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.fh5co-cta .container {
  position: relative;
  z-index: 2;
}

.fh5co-cta p,
.fh5co-cta h3 {
  color: #fff;
}

.fh5co-cta p:last-child {
  margin-bottom: 0;
}

.fh5co-cta .btn {
  color: #fff;
}

#fh5co-footer {
  background: #262626;
  float: left;
  padding-top: 1em;
  position: relative;
  width: 100%;
}

#fh5co-footer h2,
#fh5co-footer h3,
#fh5co-footer h4 {
  color: #fff;
}

#fh5co-footer h3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  font-weight: bold;
}

#fh5co-footer [class*="col"] {
  padding-bottom: 10px;
}

#fh5co-footer .btn {
  color: #fff;
}

#fh5co-footer .float {
  float: left;
  margin-right: 10%;
}

#fh5co-footer ul {
  padding: 0;
  margin: 0;
}

#fh5co-footer ul li {
  padding: 0;
  margin: 0 0 10px 0;
  list-style: none;
}

#fh5co-footer ul li a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

#fh5co-footer ul li a:hover {
  color: #fff;
}

#fh5co-footer .fh5co-social li {
  display: block;
}

.fh5co-copyright {
  clear: both;
  margin-top: 15px;
}

.fh5co-copyright span {
  display: block;
}

#fh5co-page {
  background: #fff;
  position: relative;
  z-index: 2;
}

#fh5co-offcanvas,
.fh5co-nav-toggle,
#fh5co-page {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

#fh5co-offcanvas,
.fh5co-nav-toggle,
#fh5co-page {
  position: relative;
}

#fh5co-page {
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 2;
}

.offcanvas-visible #fh5co-page {
  -moz-transform: translateX(-275px);
  -webkit-transform: translateX(-275px);
  -ms-transform: translateX(-275px);
  -o-transform: translateX(-275px);
  transform: translateX(-275px);
}

#fh5co-offcanvas {
  background: black;
  display: none;
  height: 100%;
  overflow-y: auto;
  padding: 30px;
  position: fixed;
  right: 0;
  top: 0;
  width: 275px;
  z-index: 1;
}

#fh5co-offcanvas ul {
  margin: 0;
  padding: 0;
}

#fh5co-offcanvas ul li {
  line-height: 28px;
  list-style: none;
  margin: 0 0 10px 0;
  padding: 0;
}

#fh5co-offcanvas ul li a {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}

#fh5co-offcanvas ul li a:hover {
  color: #eb7078;
}

#fh5co-offcanvas ul li.active a {
  color: #eb7078;
}

#fh5co-offcanvas ul li.cta {
  display: block;
  float: left;
  margin-left: 0;
  margin-top: 20px;
}

#fh5co-offcanvas ul li.cta a {
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 2px solid rgba(255, 255, 255, 0.7);
  padding: 7px 16px;
}

#fh5co-offcanvas ul li.cta a:hover {
  background: #fff;
  text-decoration: none;
}

#fh5co-offcanvas ul li.cta a:hover:after {
  display: none;
}

.fh5co-nav-toggle {
  cursor: pointer;
  text-decoration: none;
}

.fh5co-nav-toggle.active i::before,
.fh5co-nav-toggle.active i::after {
  background: #fff;
}

.fh5co-nav-toggle.dark.active i::before,
.fh5co-nav-toggle.dark.active i::after {
  background: #fff;
}

.fh5co-nav-toggle:hover,
.fh5co-nav-toggle:focus,
.fh5co-nav-toggle:active {
  border-bottom: none;
  outline: none;
}

.fh5co-nav-toggle i {
  *display: inline;
  background: #000;
  color: #fff;
  display: -moz-inline-stack;
  display: inline-block;
  font: bold 14px/.4 Helvetica;
  height: 2px;
  position: relative;
  text-indent: -55px;
  text-transform: uppercase;
  transition: all .2s ease-out;
  width: 30px;
  zoom: 1;
}

.fh5co-nav-toggle i::before,
.fh5co-nav-toggle i::after {
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  background: #000;
  content: '';
  height: 2px;
  left: 0;
  position: absolute;
  transition: 0.2s;
  width: 30px;
}

.fh5co-nav-toggle.dark i {
  background: #000;
  color: #000;
  position: relative;
  transition: all .2s ease-out;
}

.fh5co-nav-toggle.dark i::before,
.fh5co-nav-toggle.dark i::after {
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  background: #000;
  transition: 0.2s;
}

.fh5co-nav-toggle i::before {
  top: -7px;
}

.fh5co-nav-toggle i::after {
  bottom: -7px;
}

.fh5co-nav-toggle:hover i::before {
  top: -10px;
}

.fh5co-nav-toggle:hover i::after {
  bottom: -10px;
}

.fh5co-nav-toggle.active i {
  background: transparent;
}

.fh5co-nav-toggle.active i::before {
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  -webkit-transform: rotateZ(45deg);
  top: 0;
  transform: rotateZ(45deg);
}

.fh5co-nav-toggle.active i::after {
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  -webkit-transform: rotateZ(-45deg);
  bottom: 0;
  transform: rotateZ(-45deg);
}

.fh5co-nav-toggle {
  position: fixed;
  top: 40px;
  right: 20px;
  z-index: 9999;
  display: block;
  margin: 0 auto;
  display: none;
  cursor: pointer;
}

#fh5co-pricing-section {
  padding: 7em 0;
  background: #fcfcfc;
}

#fh5co-pricing-section .pricing {
  display: block;
  float: left;
  margin-bottom: 30px;
}

#fh5co-pricing-section .price-box {
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.11);
  -o-transition: 0.3s;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.11);
  -webkit-transition: 0.3s;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.11);
  margin-bottom: 40px;
  padding: 30px;
  position: relative;
  text-align: center;
  top: 2px;
  transition: 0.3s;
}

#fh5co-pricing-section .price-box.popular .btn-select-plan {
  background: #eb7078;
}

#fh5co-pricing-section .price-box.popular .price {
  color: #eb7078;
}

#fh5co-pricing-section .price-box .btn-select-plan {
  padding: 10px 20px;
  background: #eb7078;
  color: #fff;
}

#fh5co-pricing-section .price-box:hover,
#fh5co-pricing-section .price-box:focus {
  -webkit-box-shadow: 0 14px 25px -2px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0 14px 25px -2px rgba(0, 0, 0, 0.14);
  box-shadow: 0 14px 25px -2px rgba(0, 0, 0, 0.14);
  top: -2px;
}

#fh5co-pricing-section .pricing-plan {
  margin: 0 0 50px 0;
  padding: 0;
  font-size: 13px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  color: #888f94;
}

#fh5co-pricing-section .pricing-plan.pricing-plan-offer {
  margin-bottom: 24px;
}

#fh5co-pricing-section .pricing-plan span {
  display: block;
  margin-top: 10px;
  margin-bottom: 0;
  color: #d5d8db;
}

#fh5co-pricing-section .price {
  color: #6d6d6d;
  font-size: 72px;
  line-height: 50px;
}

#fh5co-pricing-section .price .currency {
  font-size: 30px;
  padding-right: 10px;
  top: -0.9em;
}

#fh5co-pricing-section .price small {
  color: #888f94;
  display: block;
  font-size: 13px;
  text-transform: uppercase;
}

.fh5co-light-grey-section {
  background: rgba(0, 0, 0, 0.03);
}

.js .animate-box {
  opacity: 0;
}

.container a {
  transition: all 0.5s ease;
}

.container a:hover {
  color: #434e56;
  text-decoration: none;
}

#notice_wrapper {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
}

#notice_wrapper p {
  color: #FFFFFF;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0;
  padding: 2.5rem 0;
  text-align: center;
}

/* Media queries */

@media all and (max-width: 480px) {
  .col-xxs-12 {
    float: none;
    width: 100%;
  }
  
  #map {
    height: 200px;
  }

  .fh5co-copyright {
    text-align: center;
  }

  .fh5co-copyright span {
    display: inline;
  }
}

@media all and (max-width: 768px) {
  .row-bottom-padded-lg {
    padding-bottom: 1em;
  }

  .row-bottom-padded-md {
    padding-bottom: 1em;
  }

  .row-bottom-padded-sm {
    padding-bottom: 1em;
  }

  #fh5co-header {
    margin: 0;
  }

  #fh5co-header nav {
    display: none;
  }

  #fh5co-hero .flexslider .slider-text > .slider-text-inner h2 {
    font-size: 40px;
  }

  #fh5co-services-section,
  #fh5co-work-section,
  #fh5co-testimony-section,
  #fh5co-blog-section {
    padding: 3em 0;
  }

  .fh5co-about,
  .fh5co-team,
  .fh5co-contact {
    padding: 3em 0 10px 0;
  }

  #map {
    height: 400px;
  }

  .fh5co-cta {
    padding: 3em 0;
  }

  #fh5co-footer {
    padding: 3em 0;
  }

  .social-icon a {
    font-size: 25px;
  }

  #fh5co-offcanvas {
    display: block;
  }

  .fh5co-nav-toggle {
    display: block;
    top: 20px;
  }

  #fh5co-pricing-section {
    padding: 3em 0;
  }
}

@media all and (max-width 1024px) {
  .wrap-testimony .testimony-slide blockquote {
    width: 100%;
  }
  body #fh5co-header nav ul li.cta {
    margin-left:0;
    padding: 0;
  }
}
