<!DOCTYPE html>
<html>
  <head>
    <title>Jobs</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header id="fh5co-header" role="banner">
      <%= render 'layouts/messages' %>
      <%= render 'layouts/navigation' %>
    </header>

  <div class="container main" id="main" >

    <%= yield %>
  </div>
  <footer id="fh5co-footer" role="contentinfo">

		<div class="container">

			<div class="col-md-12 fh5co-copyright text-center">
        <p>&copy; 2019 All Rights Reserved </p>
			</div>

		</div>
	</footer>

  </body>
</html>
